{% extends 'base.html' %}

{% block home %}
<!-- -------home-container---------------- -->
  {% include 'home.html' %}
{% endblock %}
{% block about %}
  <!-- -----about----------- -->
{% include 'about.html' %}


{% endblock %}
{% block hobbies %}
  <!-- ----------hobbies-and-interests------------ -->
{% include 'hobbies.html' %}


{% endblock %}
{% block services %}
  <!-- --------------services----------------- -->
{% include 'services.html' %}


{% endblock %}
{% block expertise %}
  <!-- --------expertise---------- -->
{% include 'expertise.html' %}


{% endblock %}
{% block comments %}
  <!-- -------comments------------ -->
{% include 'comment.html' %}


{% endblock %}
{% block contact %}
<!-- contact -->
{% include 'contact.html' %}


{% endblock %}